<div *ngIf="order">
    <h2>{{order.price}} details!</h2>
    <div>
        <label>id: </label>{{order.id}}</div>
    <div>
      <label>price: </label>{{order.price}}</div>
    <div>
      <label>paymentMethod: </label>{{order.paymentMethod}}</div>
    <div>
      <label>shippingMethod: </label>{{order.shippingMethod}}</div>
    <div>
      <label>orderStatus: </label>{{order.orderStatus}}</div>
    <h1><img src="app/order/clearshoppingcart.png" align="left"></h1>
    <button (click)="cancelOrder()">Cancel order</button>
    <button (click)="goBack()">Back</button>
</div>

