<h2>SECTION</h2>
<div>
  <label>Section name:</label> <input #sectionName/>
  <button (click)="add(sectionName.value); sectionName.value=''">
    Add
  </button>
</div>
<ul class="sections">
  <li *ngFor="let section of sections" (click)="onSelect(section)"
      [class.selected]="section === selectedSection">
    <div style="text-align: center;">
  <span>{{section.name}}</span>
  <button class="delete"
          (click)="delete(section); $event.stopPropagation()">x
  </button>
  </div>
  </li>
</ul>

<div *ngIf="selectedSection">
  <h2>
    {{selectedSection.name | uppercase}} is my section
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
<style type="text/css">
  body {
    background-image: url(/src/app/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
