<div *ngIf="product">
    <h2>{{product.name}} details!</h2>

 <div>
   <img id="image" src="{{product.photoPath}}"/>
  <div>
    <div>
        <label>name: </label>
        <input [(ngModel)]="product.name" placeholder="name"/>
    </div>
    <div>
        <label>details: </label>
        <input [(ngModel)]="product.details" placeholder="details"/>
    </div>
    <div>
        <label>price: </label>
        <input [(ngModel)]="product.price" placeholder="price"/>
    </div>
    <div>
        <input id="photo" type="file" />
            <!-- button to trigger the file upload when submitted -->
        <button type="button" class="btn btn-success btn-s" (click)="upload()">
            Upload
        </button>
    </div>
    <div>
        <button (click)="goBack()">Back</button>
        <button (click)="save()">Save</button>
    </div>
</div>
