<div *ngIf="brand">
  <h2>{{brand.name}} details!</h2>
  <div>
   <img id="image" src="{{brand.photoPath}}"/>
  <div>
    <label>name: </label>
    <input [(ngModel)]="brand.name" placeholder="name" />
  </div>
  <div>
    <label>description:</label>
    <input [(ngModel)]="brand.description" placeholder="description" />
   </div>
    <div>
   <input id="photo" type="file" />
    <!-- button to trigger the file upload when submitted -->
    <button type="button" class="btn btn-success btn-s" (click)="upload()">
    Upload
    </button>
</div>
   <div>
     <h2>Brand products</h2>
     <ul class="products">
      <li *ngFor="let product of brand.products"  class="badge">
        <span class="badge">{{product.id}}</span> {{product.name}}
      </li>
    </ul>
   </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>
</div>
